USE [Project_Final]
GO
/****** Object:  StoredProcedure [dbo].[GetAccounts]    Script Date: 8/8/2026 12:31:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Csongor Tamás>
-- Create date: <05/31/2026>
-- Description:	<A procedure for returning the current accounts of a user>
-- =============================================
CREATE PROCEDURE [dbo].[GetAccounts]
	@EMAIL VARCHAR(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT [Purposes].[NAME] AS PURPOSE_NAME, [Currency].[NAME] AS CURRENCY_NAME,[Accounts].[BALANCE] FROM [Accounts]
	LEFT JOIN [Purposes] ON
		[Purposes].[PURPOSE_ID] = [Accounts].[PURPOSE_ID]
	LEFT JOIN [Currency] ON
		[Currency].[CURRENCY_ID] = [Accounts].[CURRENCY_ID]
	WHERE [USER_ID] = (
		SELECT [USER_ID] FROM [Users]
		WHERE [EMAIL] = @EMAIL
	)
	
END
